.App {
	min-height: 90vh;
	text-align: center;
	text-transform: capitalize;
	background-color: #74c5ff;
	padding: 10px 0;
}

.day-wheather:hover {
	background-color: rgba(0, 0, 0, 0.096);
}

.day-wheather {
	cursor: pointer;
	border-radius: 10px;
}

.home {
	background-color: #f8f8f84b;
	padding: 50px 0;
	border-radius: 5px;
}
