.App {
	min-height: 90vh;
	text-align: center;
	text-transform: capitalize;
	background-color: rgba(86, 86, 185, 0.116);
	padding: 10px 0;
}

.day-wheather:hover {
	background-color: rgba(0, 0, 0, 0.096);
}

.day-wheather {
	cursor: pointer;
	width: 100%;
	border-radius: 10px;
	margin: 0 10px;
	padding: 5px;
}
